footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #595959;
    height: 100px;
    bottom: 0;
    margin: 4px;
    border-radius: 5px;

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        grid-column: 1 / 4;
        grid-row: 7 / 8;
    }

    i {
        color: white;
        font-size: 50px;
        text-shadow: -2px -2px #9500a8, 2px 2px #e1b582;
    }
}