footer {
    border-top: 5px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #595959;
    height: 100px;
    bottom: 0;

    @media screen and (min-width: 680px) {
        grid-column: 1 / 4;
        grid-row: 7 / 8;
    }

    a {
        color: white;

        i {
            font-size: 50px;
        }
    }

}