#loading {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #595959;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    animation: loading_stop 50ms 1950ms forwards;

    .logo {
        position: relative;
        height: 270px;
        width: 270px;
        transform-style: preserve-3d;
        animation: rotateY_logo 2000ms infinite ease-in-out;

        &__face {
            position: absolute;
            backface-visibility: hidden;
            border-radius: 100%;
            overflow: hidden;
            height: 100%;
            width: calc(100% - 20px);
            background-color: map-get($colors, abstracts);
            border: 10px solid black;

            &__front {
                display: flex;
                align-items: center;
                justify-content: center;

            }

            &__back {
                background-color: #e1b582;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotateY(180deg);

            }

            i,
            p {
                font-size: 230px;
            }
        }
    }
}