#loading {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    animation: loading_color 2000ms infinite ease-in-out, loading_stop 200ms 1800ms forwards;

    .logo {
        position: relative;
        height: 270px;
        width: 270px;
        transform-style: preserve-3d;
        animation: rotate_logo 2000ms infinite ease-in-out;

        &__face {
            position: absolute;
            backface-visibility: hidden;
            animation: border_logo_face 2000ms infinite ease-in-out;
            border-radius: 100%;
            overflow: hidden;
            height: 100%;
            width: 100%;

            &__back {
                transform: rotateY(180deg);
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

}