@mixin section-slide ($name, $color, $image) {
    position: relative;
    border-radius: 1em;
    padding: 0.3em;
    margin: 0.3em;
    box-shadow: 5px 5px $color inset, 5px 5px 0px black;
    margin: 7px;

    &::before {
        position: absolute;
        content: "";
        background-image: url($image);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 1em;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
    }

    @media screen and (max-width: map-get($breakpoints, mobile)) {
        overflow: hidden;
        max-height: 60px;
        background-color: rgba(227, 232, 235, 1);
        transition: all 400ms ease-in-out;

        &.IsOpen {
            max-height: 500px;
            background-color: rgba(227, 232, 235, 0);

            ##{$name}__header {

                .fa-arrow-circle-up {
                    transform: rotate(0.5turn);
                }

            }
        }
    }

    &__header {
        background-color: rgba(227, 232, 235, 0.9);
        border-radius: 1em;
        display: flex;
        height: 60px;

        // @media screen and (max-width: map-get($breakpoints, mobile)) {
        //     box-shadow: 0px 0px 0px black;
        //     transition: box-shadow 350ms 150ms;
        // }

        &__title {
            display: flex;
            align-items: center;
            padding: 0.3em;

            i {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                font-size: 20px;
                width: 30px;
                height: 30px;
                border-radius: 25px;
                border: 5px solid $color;
            }

            h3 {
                padding-left: 10px;
            }
        }

        .fa-arrow-circle-up {
            position: absolute;
            right: 10px;
            align-self: center;
            font-size: 30px;
            margin-right: 10px;
            transform: rotate(0turn);
            transition: transform 300ms;

            @media screen and (min-width: map-get($breakpoints, desktop)) {
                display: none;
            }

        }
    }

    &__content {
        background-color: rgba(227, 232, 235, 0.9);
        padding: 2em;
        border-radius: 1em;

        li {
            margin: 5px;
        }

        @media screen and (max-width: map-get($breakpoints, mobile)) {
            overflow: scroll;
            overflow-x: hidden;
            scrollbar-color: map-get($colors, realisations) black;
            max-height: 300px;
        }

    }

}