$breakpoints: (
    mobile: 679px,
    desktop:680px
);

$colour-primary: #92D050;
$colour-secondary: #4068AE;

$colors: (
    one: #B62B2B,
    two: #e1b582,
    three: #000000,
    four: #4068AE,
    five: #A3670D,
    six: #92D050,
    seven: #595959
);

$radius: 10px;
$padding: 5px;
$margin: 5px;