$breakpoints: (
    mobile: 679px,
    desktop:680px
);

// $breakpoints: (
//     mobile: 300px,
//     tablette:750px,
//     desktop:1000px
// );

$colors: (
    profil: #92D050,
    experiences:#ff0000,
    formations: #0eb0e2,
    competences: #9500a8,
    softskills: #f0fc01,
    interets: #eb43b0,
    realisations: #cf7500,

    one: #B62B2B,
    two: #e1b582,
    three: #000000,
    four: #4068AE,
    five: #A3670D,
    six: #92D050,
    seven: #595959
);

$imageProfil: "../../Assets/Images/SectionsImages/profil.jpg";
$imageExProf: "../../Assets/Images/SectionsImages/travail.jpg";
$imageForms: "../../Assets/Images/SectionsImages/formations.jpg";
$imageCompts: "../../Assets/Images/SectionsImages/competences.jpg";
$imageSoftSkills: "../../Assets/Images/SectionsImages/softskills.jpg";
$imageInterets: "../../Assets/Images/SectionsImages/loisirs.jpg";
$imageRealis: "../../Assets/Images/SectionsImages/realisations.jpg";

$radius: 1em;
$padding: 5px;
$margin: 5px;