#Cv {
    position: relative;
    display: grid;
    grid-gap: 5px;
    margin: 10px;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    @media screen and (min-width: map-get($breakpoints, desktop)) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #Presentation {
        justify-self: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: calc(100% - 100px);
        margin-bottom: 10px;

        @media screen and (min-width: map-get($breakpoints, desktop)) {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
            width: 90%;
            border-radius: 10px;

        }

        &__profil {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 40px 0px 40px 0px;
            max-width: 330px;

            @media screen and (min-width: map-get($breakpoints, desktop)) {
                max-width: 1000px;
                height: 350px;
                flex-direction: row-reverse;
            }

            img {
                border: 5px double rgba(227, 232, 235, 0.9);
                border-radius: 100% 100% 0% 0% / 50% 50% 50% 50%;
                object-fit: cover;
                height: 100%;
                width: calc(100% - 9px);

                @media screen and (min-width: map-get($breakpoints, desktop)) {
                    border-radius: 0% 100% 100% 0% / 50% 50% 50% 50%;
                    width: auto;
                }

            }

            &__description {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                list-style-type: none;
                justify-self: flex-start;
                background-color: rgba(227, 232, 235, 0.8);
                border: 3px solid rgba(227, 232, 235, 0.9);
                border-radius: 0px 0px 25px 25px;
                width: calc(100% - 9px);
                padding: 2px;

                &::before {
                    background-image: url("../../Assets/Images/presentation.jpg");
                    background-repeat: no-repeat;
                    background-position: center center;
                    box-shadow: 5px 5px 5px inset;
                    background-size: cover;
                    position: absolute;
                    content: "";
                    border-radius: 10px;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    z-index: -1;
                    border-radius: 0px 0px 25px 25px;

                    @media screen and (min-width: map-get($breakpoints, desktop)) {
                        border-radius: 25px 0px 0px 25px;

                    }
                }

                @media screen and (max-width: map-get($breakpoints, mobile)) {
                    border-top: none;
                    margin-top: auto;
                }

                @media screen and (min-width: map-get($breakpoints, desktop)) {
                    border-right: none;
                    border-radius: 25px 0px 0px 25px;
                    height: 100%;
                    width: 100%;
                }

                li {
                    display: flex;
                    align-items: center;
                    color: black;

                    i {
                        display: flex;
                        margin: 5px;
                        color: white;
                        background-color: black;
                        height: 30px;
                        min-width: 30px;
                        border-radius: 25px;
                        justify-content: center;
                        align-items: center;
                        // margin-right: 0;
                    }

                    span {
                        // background-color: black;
                        // color: white;
                        font-weight: bold;
                        // padding: 5px;
                        // border-radius: 25px;
                        // margin-left: 0;
                        color: black;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                    }
                }
            }
        }


    }

    #Profil {

        @include section-slide("Profil", map-get($colors, profil), $imageProfil);

        @media screen and (min-width: map-get($breakpoints, desktop)) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    }

    #Experiences {

        @include section-slide("Experiences", map-get($colors, experiences), $imageExProf);

        @media screen and (min-width: map-get($breakpoints, desktop)) {
            grid-column: 2 / 3;
            grid-row: 2 / 5;
        }

        ul {
            ul {
                font-size: 1.1em;
            }
        }
    }

    #Formations {

        @include section-slide("Formations", map-get($colors, formations), $imageForms);

        @media screen and (min-width: map-get($breakpoints, desktop)) {
            grid-column: 3 / 4;
            grid-row: 2 / 4;
        }
    }

    #Competences {

        @include section-slide("Competences", map-get($colors, competences), $imageCompts);

        @media screen and (min-width: map-get($breakpoints, desktop)) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }

        span {
            margin-right: 5px;
        }
    }

    #SoftSkills {

        @include section-slide("SoftSkills", map-get($colors, softskills), $imageSoftSkills);

        @media screen and (min-width: map-get($breakpoints, desktop)) {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }
    }

    #Interets {

        @include section-slide("Interets", map-get($colors, interets), $imageInterets);

        @media screen and (min-width: map-get($breakpoints, desktop)) {
            grid-column: 3 / 4;
            grid-row: 4 / 5;
        }

        li {
            font-style: italic;

            span {
                font-style: normal;
                font-weight: bold;
            }
        }
    }

    #Realisations {

        @include section-slide("Realisations", map-get($colors, realisations), $imageRealis);

        @media screen and (min-width: map-get($breakpoints, desktop)) {
            grid-column: 1 / 4;
            grid-row: 5 / 6;
        }

        ul {

            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            list-style-type: none;
        }
    }

    .Project {
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        display: flex;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .Descriptif {
            display: flex;
            position: fixed;
            justify-self: center;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            background-color: white;
            border: 5px solid map-get($colors, realisations);
            border-radius: 25px 0 25px 25px;
            color: black;
            width: 90%;
            max-height: 600px;

            &__exit {
                position: absolute;
                background-color: #ff0000;
                color: white;
                top: 0;
                right: 0;
                font-size: 1.6em;
                padding: 5px;
            }

            h2 {
                box-shadow: 5px 5px 5px black;
                padding: 5px;
                border-radius: 25px;
            }

            .Apercu {
                display: flex;
                flex-direction: column;
                align-items: center;

                @media screen and (min-width: map-get($breakpoints, desktop)) {
                    flex-direction: row;
                    align-items: normal;
                }

                video {
                    border: 5px solid map-get($colors, realisations);
                    width: 100%;
                    z-index: 1;

                    @media screen and (min-width: map-get($breakpoints, desktop)) {
                        margin-left: 15px;
                        height: 100%;
                        width: 55%;
                        border-radius: 10px 0px 10px 10px;
                        box-shadow: 6px 6px 7px black;
                    }
                }

                &__details {
                    display: flex;

                    @media screen and (min-width: map-get($breakpoints, desktop)) {
                        flex-direction: column;
                        width: 45%;
                    }

                    &__description {
                        display: flex;
                        flex-direction: column;
                        height: 120px;
                        padding: 5px;
                        display: flex;
                        background-color: #e1b582;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        scrollbar-color: black map-get($colors, realisations);
                        z-index: 1;
                        font-size: 1.1em;
                        box-shadow: inset 3px 3px 3px black, inset -3px -3px 5px black;
                        border: solid 5px map-get($colors, realisations);
                        border-left: none;
                        border-top: none;

                        @media screen and (min-width: map-get($breakpoints, desktop)) {
                            height: 200px;
                            width: calc(100% - 30px);
                            box-shadow: inset 3px 3px 3px black, inset -23px -3px 5px black;
                            border: solid 10px map-get($colors, realisations);
                        }
                    }

                    &__tech {
                        background-color: #e1b582;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        // justify-content: center;
                        // width: calc(100% - 20px);
                        // padding: 10px;
                        box-shadow: 0px 1px 7px black inset;
                        border-radius: 0px 0px 15px 15px;

                        h3 {
                            margin-top: 0;
                            display: flex;
                            justify-content: center;
                            background-color: map-get($colors, realisations);
                            border-radius: 0 0 15px 15px;
                            padding: 4px;

                            @media screen and (min-width: map-get($breakpoints, desktop)) {
                                box-shadow: 0px 1px 7px black;
                            }
                        }

                        &__competences {
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            padding: 5px;
                            padding-top: 0;

                            @media screen and (min-width: map-get($breakpoints, desktop)) {}

                            img {
                                height: 100px;
                            }

                        }
                    }
                }
            }
        }
    }
}