.btnRealisation {
    position: relative;
    background-color: map-get($colors , realisations);
    cursor: pointer;
    border-radius: $radius;
    margin: 5px;
    padding: $padding*3;
    z-index: 0;
    border: 3px solid black unset;

    &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 1;
        z-index: -1;
        border-radius: $radius;
        box-shadow: 5px 5px 5px black;
    }

    &:active {
        animation: trans-button 100ms ease-in-out both;

        &::after {
            animation: opacity-button 100ms reverse ease-in-out both;
        }

    }
}

.btnCv {
    display: flex;
    background-color: #595959;
    box-shadow: 6px 6px 1px black inset, -3px -3px 1px black inset;
    justify-content: center;
    padding: 3px;
    border-radius: 30px;

    a {
        text-decoration: none;

        button {
            display: flex;
            position: relative;
            padding: $padding*3;
            background-color: #e1b582;
            align-items: center;
            border-radius: 25px;
            cursor: pointer;
            z-index: 0;


            &::after {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                opacity: 1;
                z-index: -1;
                border-radius: 25px;
                padding: $padding;
                background-color: white;
                box-shadow: 5px 5px 5px black;
            }

            &:active {
                animation: trans-button 100ms ease-in-out both;

                &::after {
                    animation: opacity-button 100ms reverse ease-in-out both;
                }
            }

            i {
                margin-right: 5px;
                font-size: 1.4em;
            }
        }
    }
}