.btnRealisation {
    position: relative;
    background-color: map-get($colors , realisations);
    cursor: pointer;
    border-radius: 25px;
    margin: 5px;
    padding: 15px;
    z-index: 0;
    translate: -3px -3px;

    &.gitHub {
        margin: 10px;
        width: 280px;
        font-size: larger;
        font-weight: bold;
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 1;
        z-index: -1;
        border-radius: 25px;
        box-shadow: 5px 5px 5px black;

    }

    &:active {
        animation: trans-button 100ms ease-in-out both;

        &::after {
            animation: opacity-button 100ms reverse ease-in-out both;
        }

    }
}

.btnCv {
    display: flex;
    box-shadow: 6px 6px 1px black inset, -6px -6px 1px black inset;
    justify-content: center;
    padding: 3px;
    border-radius: 30px;
    border: 2px solid rgba(227, 232, 235, 0.9);

    a {
        text-decoration: none;

        button {
            display: flex;
            position: relative;
            padding: 15px 40px;
            background-color: rgba(227, 232, 235, 0.8);
            align-items: center;
            border-radius: 25px;
            cursor: pointer;
            z-index: 0;
            translate: -3px -3px;
            font-weight: bold;

            &::after {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                opacity: 0;
                z-index: -1;
                border-radius: 21px;
                background-color: #CFC146;
            }

            &:active {
                animation: trans-button 100ms ease-in-out both;

                &::after {
                    animation: opacity-button 100ms ease-in-out both;
                }
            }

            i {
                margin-right: 5px;
                font-size: 1.8em;
                color: black;
                background-color: white;
            }
        }
    }
}