.progressbar {
    background-color: #9500a8;
    color: white;
    padding: 3px;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;

    &.fifty {
        width: 55%;
    }


    &.sixty {
        width: 65%;
    }


    &.seventy {
        width: 75%;
    }


    &-wrapper {
        background-color: $colour-primary;
        border-radius: 15px;
        box-shadow: 1Px 1px 3px #9500a8 inset, -1Px -1px 3px #9500a8 inset;
        width: 200px;
    }
}



.btn {
    position: relative;
    background-color: #4068AE;
    color: white;
    cursor: pointer;
    border-radius: $radius;
    margin: 5px;
    padding: $padding*3;
    z-index: 0;
    border: 3px solid black unset;

    &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 1;
        z-index: -1;
        border-radius: $radius;
        box-shadow: 5px 5px 5px black;
    }

    &:active {
        animation: trans-button 100ms ease-in-out both;

        &::after {
            animation: opacity-button 100ms reverse ease-in-out both;
        }

    }
}