// loading

@keyframes loading_stop {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}


@keyframes rotateY_logo {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

// button

@keyframes trans-button {
    from {
        translate: -3px -3px;
    }

    to {
        translate: 0px 0px;
    }
}

@keyframes opacity-button {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// progress-bar

@keyframes change-width-fifty {
    from {
        width: 5%;
    }

    to {
        width: 55%;
    }
}

@keyframes change-width-sixty {
    from {
        width: 5%;
    }

    to {
        width: 65%;
    }
}

@keyframes change-width-seventy {
    from {
        width: 5%;
    }

    to {
        width: 75%;
    }
}