body {
    margin: 0;
}

header {
    display: flex;
    background-color: aqua;
    top: 0;
}

footer {
    display: flex;
    background-color: aqua;
    bottom: 0;
}

$radius: 10px;
$padding: 5px;

// Section CV //
#Cv {
    display: grid;
    //grid-template: repeat(3, auto) / repeat(3, auto);
    grid-gap: 5px
}

#Presentation {
    //grid-column: 1 / 4;
    //order: 0;
    background-color: indianred;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: space-around;
    padding: $padding;

    &Name {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 150px;
        border-radius: $radius;
    }
}

#Profil {
    //order: 2;
    background-color: greenyellow;
    border-radius: $radius;
    padding: $padding;
}

#Experiences {
    //order: 4;
    //grid-column: 2 / 3;
    //grid-row: 2 / 4;
    background-color: blueviolet;
    border-radius: $radius;
    padding: $padding;
}

#Formations {
    //order: 5;    
    background-color: red;
    border-radius: $radius;
    padding: $padding;
}

#Competences {
    //order: 3;
    background-color: aqua;
    border-radius: $radius;
    padding: $padding;
}

#SoftSkills {
    //order: 6;
    background-color: orange;
    border-radius: $radius;
    padding: $padding;
}

#Interets {
    //order: 7;
    background-color: teal;
    border-radius: $radius;
    padding: $padding;
}

#Realisations {
    //order: 8;
    //grid-column: 2 / 4;
    background-color: palevioletred;
    border-radius: $radius;
    padding: $padding;

    ul {
        li {
            cursor: pointer;
        }
    }


}

.fond {
    position: fixed;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

    .Descriptif {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: black;
        width: 90%;

        img {
            width: 200px;
        }

        .apercu {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .acces {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 150px;
            height: 150px;

            button {
                height: 50px;
            }
        }
    }
}