body {
    position: relative;
    margin: 0;
    background-image: url('../../Assets/Images/fond.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;


    &::before {
        position: absolute;
        content: '';
        background:
            linear-gradient(217deg, rgba(122, 6, 70, 0.5), rgba(0, 255, 0, 0) 70.71%),
            linear-gradient(127deg, rgba(233, 171, 15, 0.7), rgba(255, 0, 0, 0) 70.71%),
            linear-gradient(336deg, rgba(10, 228, 217, 0.3), rgba(0, 0, 255, 0) 70.71%);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
}